body {
    background-color: #a91f1f;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.jumbotron p {
    text-align: center;
}
.jumbotron input{
    width: 25%;
    display: block;
    margin: 0 auto;
}
.jumbotron button{
    margin-top: 10px;
}
.jumbotron {
    text-align: center;
}